terragrunt 0.51.4
terraform 1.5.7
terraform-docs 0.16.0
tflint 0.48.0
tfsec 1.28.4
kubectlssss 1.27.4
kubectx 0.9.4
sops 3.8.0
flux2 2.1.1
shellcheck 0.9.0
packer 1.8.6
yq 4.30.5
helm 3.12.3
velero 1.10.3